* {
    box-sizing: border-box;
}

section {
    display: -webkit-flex;
    display: flex;
}

body {
    background-color: rgb(248, 248, 248);
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 16px;
    
}

header {
    background-color: rgb(238, 238, 238);
    padding: 5px;
    height: 173px;
    text-align: center;

}

nav {
    align-items: center;
}

nav a b {
    padding: 70px;
    color: #000000;
    text-decoration: none;
    transition: color 0.35s ease;
    
}

nav a b:hover {
    color: #24cb7d;
}

nav b {
    font-size: 20px;

}

nav a img {
    padding: 20px;
    width: 80px;
    border-radius: 13px;

}

.navsec {
    padding: 8px; 
    font-size: 20px;

}


table {
    font-size: 16px;
    background-color: rgb(254, 254, 252);
    width: auto;
}

th, td {
    border: 0px ;
    border-radius: 13px;
    padding: 15px;
    box-shadow: 8px 10px 10px 10px rgba(46, 45, 45, 0.1);
    font-size: 16px;
}

.specificpoint {
    background-color: rgb(248, 248, 248);
    border: 0px; 
    border-radius: 13px; 
    padding: 5px;
    box-shadow: 8px 10px 10px 10px rgba(46, 45, 45, 0.1);
    width: auto;
}



footer {
    background-color: rgb(238, 238, 238);
    height: 105px;
    padding: 15px;

}

/* .foothome01 {
    display: flex; 
    align-items: center; 
    float: right;

}

.foothome02 {
    display: flex; 
    align-items: center; 
    float: left;

} */



@media only screen and (max-width: 600px) {

    .navsec {
        padding: 3px; 
        font-size: 14px;
    
    }

    nav a b {
        padding: 5px;
        color: #000000;
        text-decoration: none;
        transition: color 0.3s ease;
        
    }

    nav b {
        font-size: 16px;
    
    }

    nav a img {
        padding: 10px;
        width: 35px;
        border-radius: 13px;
    }

    
}